<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">

<title>Listado de Empleados</title>

<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/css/starter-template.css" rel="stylesheet">

</head>

<body>

	<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">rlibanez</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#">Inicio</a></li>
					<li class="nav-item"><a class="nav-link" href="/empleado/new">Nuevo
							empleado</a></li>
				</ul>

				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button"
						data-bs-toggle="dropdown" data-bs-display="static"
						aria-expanded="false">
						<span sec:authentication="name">Menú</span>
					</button>
					<ul class="dropdown-menu dropdown-menu-lg-end">
						<li><a class="dropdown-item"
							href="javascript:document.getElementById('logoutForm').submit()">Salir</a></li>
						<li><button class="dropdown-item" type="button">Something
								else</button></li>
					</ul>
				</div>

			</div>
		</div>
	</nav>

	<form th:action="@{/logout}" method="POST" id="logoutForm"></form>

	<div class="container">
		<div class="starter-template">
			<br> <br> <br> <br>

			<!-- 			<div sec:authorize="hasRole('USER')">Text visible to user.</div> -->
			<!-- 			<div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div> -->
			<!-- 			<div sec:authorize="isAuthenticated()">Text visible only to authenticated users.</div> -->
			<!-- 			<div sec:authorize="isAuthenticated()"> Authenticated as <span sec:authentication="name"></span></div> -->
			<!-- 			<div th:text="${#authentication.name}">The value of the "name" property of the authentication object should appear here.</div> -->

			<h1 class="text-center">Listado de empleados de la empresa</h1>
			<br> <br>
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Avatar</th>
						<th>Nombre</th>
						<th>Email</th>
						<th>Teléfono</th>
						<th>Operaciones</th>
				</thead>
				<tbody>
					<tr th:each="empleado : ${listaEmpleados}">
						<td th:text="${empleado.id}">ID</td>
						<td><img src=""
							th:src="@{${empleado.imagen} ?: 'https://api.dicebear.com/8.x/pixel-art/png?seed={email}'(email=${empleado.email})}"
							width="48px" /></td>
						<td th:text="${empleado.nombre}">Pepe Pérez</td>
						<td th:text="${empleado.email}">empleado@gmail.com</td>
						<td th:text="${empleado.telefono}">987654321</td>
						<td><a th:href="@{/empleado/edit/{id}(id=${empleado.id})}">Editar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
